[submodule "threejs_boilerplate"]
    path = threejs_boilerplate
    url = https://github.com/daltonjmcgee/threejs_boilerplate

[submodule "nextjs_boilerplate"]
    path = nextjs_boilerplate
    url = https://github.com/daltonjmcgee/nextjs_boilerplate

[submodule "headless_wp_boilerplate"]
	path = headless_wp_boilerplate
	url = https://github.com/daltonjmcgee/headless_wp_boilerplate

[submodule "threejs_svelte_boilerplate"]
	path = threejs_svelte_boilerplate
	url = https://github.com/daltonjmcgee/threejs_svelte_boilerplate
[submodule "wordpress_boilerplate"]
	path = wordpress_boilerplate
	url = https://github.com/daltonjmcgee/wordpress_boilerplate
